/** Work Examples Titles **/
#work-cont > div.container > div > div > p.example-title{
    margin-top: 75px;
    margin-bottom: 0px;
    font-size: 40px;
    letter-spacing: 0.4px;
    color: #aaa;
    text-align: center;

}
/** Work Examples DEscriptions **/
#work-cont > div.container > div > div > p.example-description{
    margin-bottom: 8px;
    line-height: 25px;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #aaa;
    text-align: left;

}

/** Separator for the work examples **/
#work-cont > div.container > div > div > div{
    width: 100%; height: 1px;
    margin-bottom: 8px;
    border-style: solid;
    border-color: #b0914f;
    background-color: #b0914f;
}

/** Examples page headline **/
#work-cont > div.title{
    padding: 60px 70px 5px;
}

/** Background image for the front page **/
#home-cont > div.zoominheader.bg-image{
    background-image: url('../images/code-pic.jpg');
}

/** Home page name **/
#home-cont > div.title > h1{
    font-size: 55px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/** Homepage job titles **/
#home-cont > div.title > p{
    font-size: 30px; 
}

/** Website Logo **/
.navbar .logo .bg_logo{
    background-image: url('../images/BPLogo.png');
}

/** about paragraphs **/
.about .tabs-about .tab-content .tab-pane p{
    font-size: 20px;
}

/** About Signature **/
.about .tabs-about .tab-content .tab-pane .signature{
    max-width: 500px;
}

/** Skills List items **/
.about .tabs-about .tab-content .tab-pane .skills .progress-text{
    font-size: 25px;
    line-height: normal;
}

.form-control{
    color: #aaa;
}

.form-control:focus{
    color: #aaa;
}

/* flash message*/

div.message.hidden {
    height: 0;
}

div.message{
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #b0914f;
    color: rgb(0, 0, 0);
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

#my_form > div.user-message > p > span.send-btn{
    background-color: #b0914f;
}

#btn{
    background-color: #b0914f;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    padding: 9px 20px;
    border-radius: 2px;
    letter-spacing: 0.6px;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: #aaa;
  -webkit-box-shadow: #212529 inset;
  transition: background-color 5000s ease-in-out 0s;
}