<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Example $example
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $example->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $example->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Examples'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="examples form large-9 medium-8 columns content">
    <?= $this->Form->create($example) ?>
    <fieldset>
        <legend><?= __('Edit Example') ?></legend>
        <?php
            echo $this->Form->control('title');
            echo $this->Form->textarea('description');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
