.home .slider .slick-prev,
.home .slider .slick-next,
footer p a,
footer p a:hover,
.testim .tabbable .tab-content .profile-details h4,
.serv .serv-vid .play i,
.about .tabs-about .nav-link.active,
.navbar .social-media a:hover,
.navbar .nav-item.active-nav a {
    color: #b0914f; 
}

.maps .open-map,
.contact .form .user-message .send-btn,
.contact .form .user-message .send-btn input.btn,
.contact .form .user-message .send-btn,
.work .shuffle ul li.active,
.serv .serv-vid .play:hover,
.about .tabs-about .tab-content .tab-pane .skills .progress .progress-bar,
.about .tabs-about .tab-content .tab-pane .btn-about a,
.home .title .btn-home a,
.navbar-toggler .menu .line1,
.navbar-toggler .menu .line2,
.navbar-toggler .menu .line3 {
    background-color: #b0914f;
}

.testim .tabbable .tab-content .profile-details,
.work .shuffle ul li.active,
.work .shuffle ul li {
    border: 1px solid #b0914f;
}

.testim .tabbable .tab-content .profile-image .image-tab,
.testim .tabbable .list-tabs ul .active .image-tab {
    border: 2px solid #b0914f; 
}

.navbar .nav-item.active-nav {
    border-bottom: 1px solid #b0914f; 
}

.contact .form .form-group textarea,
.contact .form .form-group input {
    border-bottom: 2px solid #b0914f;
}

.about .tabs-about .nav-link.active {
  border-top: 2px solid #b0914f;
}

.home3 .overlay {
    background-color: rgba(176, 145, 79, 0.9); 
}
.testim .client .overlay-cl {
    background-color: rgba(176, 145, 79, 0.7); 
}

.navbar .logo .bg_logo,
.serv .content img {
    filter: hue-rotate(0deg);
}

.background-gradient {
	background: #9f8348; /* Old browsers */
    background: -moz-linear-gradient(left, #9f8348 0%, #caa75d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #9f8348 0%,#caa75d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #9f8348 0%,#caa75d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f8348', endColorstr='#caa75d',GradientType=1 ); /* IE6-9 */
}